#intro {
  background-image: url("../assets/images/background/Background_Intro.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 750px;
  font: --font-family-maven;
  color: var(--gray500);
  padding-block: 120px 57px;
  object-fit: cover;
  #info {
    header {
      #avatar {
        position: relative;

        #profile-pic {
          border: 2px solid var(--red);
          border-radius: 50%;
          padding: 4px;
          width: 87.273px;
          height: 87.273px;
          object-fit: cover;
        }

        #icone {
          position: absolute;
          bottom: 0;
          right: -9px;
        }
      }

      #bio {
        margin-block: 56px 80px;

        #hello {
          font: var(--subtitle);
          color: var(--gray500);
        }

        #title {
          font: var(--title-lg);
          color: var(--gray600);
          margin-block: 8px 20px;
        }

        #description {
          font: var(--font-family-maven);
          color: var(--gray400);
        }
      }

      span {
        color: var(--red);
      }
    }

    #tags {
      display: flex;
      gap: 16px;
      margin-bottom: 94px;

      .tag {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 999px;
        background: var(--gray300);
        padding: 8px 16px;
      }
    }
  }
}
