#projects {
  font: var(--text-sm);
  color: var(--gray500);
  background-color: var(--gray200);
  padding-block: 72px 144px;
  header {
    span {
      font: var(--subtitle);
      color: var(--red);
    }

    h1 {
      font: var(--title-md);
      color: var(--gray600);
      margin-block: 8px 56px;
    }
  }

  main {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    .project-card {
      border-radius: 12px;
      background: var(--gray300);
      width: 330px;
      height: 280px;

      padding: 12px;
      gap: 20px;

      &:hover {
        outline: 1px solid var(--gray400);
      }

      h3 {
        font: var(--title-sm);
        color: var(--gray600);
        margin-block: 20px 8px;
      }

      img {
        width: 306px;
        height: 156px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}
